    .wrapper {
        width: 500px;
        margin: 0 auto;
    }
    
    .wrapper-input {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .inp {
        height: 30px;
        width: 300px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px;
        margin-top: 20px;
        font: 18px/20px Helvetica, Arial, sans-serif;
        background-color: #DAF7A6;
        border-radius: 5px;
    }
    
    .count,
    .str {
        padding: 5px;
        color: #3E3D3C;
    }
    
    .count,
    .create {
        background-color: #F3DB62;
        text-transform: uppercase;
        border: solid #F3DB62;
        border-radius: 5px;
    }